*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    position: relative;
    font-family: 'poppins', sans-serif;
}

::selection{
    background: #1b1b1b;
    color: #fff;
}

.navbar{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 5vw; */
    background: #fff;
    /* margin: 30px; */
    z-index: 9;
}

.logo-link{
  height: 100%;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar img{
  /* margin: 10%; */
  height: 80%;
  width: auto;

}

.links-container{
  margin-right: 20px;
    display: flex;
    list-style: none;
}

.link{
    padding: 10px;
    margin-left: 10px;
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
}

.header{
    margin-top: 80px;
    width: 100%;
    height: 33vh;
    background: url(../img/header.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    text-align: center;
}

.pannel-projets-tuba{
  background-color: #FBE039;
  border-radius: 25px;
  width: 90%;
  margin-left: 5%;
  padding-bottom: 30px;
}

.pannel-projets-tuba h2 {
  font-size: 2.5rem;
  padding-top: 20px;
  margin: 40px;
  margin-bottom: 0;
}

.tuba-projects-section{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;

}

.tuba-projects-section .blog-card{
  background-color: white !important;
  padding: 30px !important;
  border-radius: 25px;
}

.heading{
    color: #fff;
    /* text-transform: capitalize; */
    font-size: 40px;
    line-height: 60px;
    /* margin-bottom: 80px; */
}

.heading .small{
    display: block;
    font-size: 40px;
}

.heading .no-fill{
    font-style: italic;
    color: transparent;
    -webkit-text-stroke: 2px #fff;
}

.create-blog-btn{
  position: fixed;
  bottom: 25px;
  right: 25px;
    padding: 30px;
    /* height: 30px;
    width: 30px; */

    border-radius: 15px;
    background: rgb(60, 60, 255);
    color: #FFF;
    font-size: 1.5rem;
    text-align: right;
    text-decoration: none;
    text-transform: capitalize;
}

.blogs-section{
    width: 100%;
    padding: 50px 5vw;
    display: flex;
    flex-flow: wrap;

}

/* .blog-image{
  display: none;
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
} */

.blog-overview{
    margin: 10px 0 20px;
    line-height: 30px;
}

.blog-card{
  width: 90%;
  margin: 30px;
}

.articles-usagers{
  width: 90%;
  margin: 5%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.sections-titles{
  max-width: 70%;
  font-size: 2rem;
  font-style: italic;
  font-weight: lighter;
  text-decoration: underline 0.40rem;
  text-decoration-color: #FBE039;
}

@media screen and (max-width: 900px) {
  .blog-card{
    width: 80%;
    margin: 20px;
  }

  .tuba-projects-section{

    display: flex;
    align-items: center;
    flex-direction:   column;
    justify-content: center;

  }

  .articles-usagers{
    width: 90%;
    margin: 5%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction:   column;
  }


}

.btn{
    padding: 10px 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.7);
    color: #000;
    text-decoration: none;
    text-transform: capitalize;
}

.btn.dark{
    background: #1b1b1b;
    color: #fff;
}
